body {
  // background-image: url(../images/comImg/image11.gif);
}

.hpc-left-title {
  display: flex;
  align-items: center;
  height: 60px;

  .hpc-left-title-img {
    /* width: 30px; */
    height: 30px;
    margin-right: 10px;
  }

  .hpc-left-title-img img {
    width: 100%;
  }

  .hpc-left-title-con {
    font-weight: 700;
    font-style: normal;
  }
}

.red {
  color: #fa6130;
  font-size: 12px;
}

.green {
  color: #5AD48A;
  font-size: 12px;
}

.yellow {
  color: #FFBA42;
  font-size: 12px;
}

.blue {
  color: #6ba4f8;
}

.bg-blue {
  background: #dde1f2;;
}

.bg-blue1 {
  background: #B2D2F7;;
}

.bg-red {
  background: #fa6130;
}

.bg-green {
  background: #5AD48A;
}

.bg-yellow {
  background: #FFBA42;
}

.m-20 {
  margin: 20px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-105 {
  margin-top: 105px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-r-50 {
  margin-right: 50px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-50 {
  margin-left: 50px;
}

.p-0 {
  padding: 0px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-50 {
  padding: 50px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-r-50 {
  padding-right: 50px;
}

.p-r-60 {
  padding-right: 60px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-l-50 {
  padding-left: 50px;
}

.p-l-60 {
  padding-left: 60px;
}

.box-center {
  text-align: center;
}

.d-in-b {
  display: inline-block;
}

.width-52 {
  width: 52px;
}

.width-80 {
  width: 80px;
}

.width-100 {
  width: 100px;
}

.width-120 {
  width: 120px;
}

.width-135 {
  width: 135px;
}

.width-140 {
  width: 140px;
}

.width-150 {
  width: 150px;
}

.width-200 {
  width: 200px;
}

.width-220 {
  width: 220px;
}

.width-250 {
  width: 250px;
}

.width-300 {
  width: 300px;
}

.width-350 {
  width: 350px;
}

.width-360 {
  width: 360px;
}

.width-400 {
  width: 400px;
}

.width-420 {
  width: 420px;
}

.width-440 {
  width: 440px;
}

.width-450 {
  width: 450px;
}


.width-500 {
  width: 500px;
}

.height-20 {
  height: 20px;
}

.height-40 {
  height: 40px;
}

.height-50 {
  height: 50px;
}

.height-55 {
  height: 55px;
}

.height-60 {
  height: 60px;
}

.height-85 {
  height: 85px;
}

.height-95 {
  height: 95px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

.fs-48 {
  font-size: 48px;
}

.color-999 {
  color: #999999;
}

.color-000 {
  color: #000;
}


.color-fff {
  color: #fff;
}

.fw-700 {
  font-weight: 700;
}

/* flex */
.my-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-normal {
  display: flex;
  align-items: normal;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-h-center {
  display: flex;
  height: 100%;
  align-items: center;
}

.flex-l-center {
  display: flex;
  align-items: center;
}

.flex-j-center {
  display: flex;
  justify-content: center;
}

.text-align-r {
  text-align: right;
}

.text-align-c {
  text-align: center;
}

.float-r {
  float: right;
}

.bg-white {
  background: #fff;
}

.border-ra-6 {
  border-radius: 6px;
}

.border-ra-8{
  border-radius: 8px;
}
.border-ra-15 {
  border-radius: 15px;
}

.min-height-100 {
  min-height: 100%;
}

.wh-40 {
  width: 40px;
  height: 40px;
}

.wh-50 {
  width: 50px;
  height: 50px;
}

.wh-60 {
  width: 60px;
  height: 60px;
}

.margin-auto {
  margin: 0 auto;
}

.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.display-cell {
  display: table-cell;
}

/* 分割线 */
.dividing-line {
  width: 100%;
  border-bottom: 3px dashed #ccc;
}

.dividing-line-1 {
  width: 100%;
  border-bottom: 1px dashed #ccc;
}

.dividing-line-2 {
  width: 100%;
  border-bottom: 2px dashed #ccc;
}

.border-b-ccc {
  border-bottom: 1px solid #f5f8f9;
}

.border-none {
  border: none !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* 分页器居中 */
.el-pagination {
  text-align: center;
}

/* 富文本样式 */
/* .ql-container {
  height: 100px;
} */

.quill-editor {
  height: 400px;
  flex: 1;
}

.editor {
  line-height: normal !important;
  /* height: 800px; */
}

.ql-snow .ql-tooltip[data-mode=link]::before {
  content: "请输入链接地址:";
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  border-right: 0px;
  content: '保存';
  padding-right: 0px;
}

.ql-snow .ql-tooltip[data-mode=video]::before {
  content: "请输入视频地址:";
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: '14px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: '10px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: '18px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: '32px';
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: '文本';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: '标题1';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: '标题2';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: '标题3';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: '标题4';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: '标题5';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: '标题6';
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: '标准字体';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  content: '衬线字体';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: '等宽字体';
}

/* 商品添加按钮样式 */
.goods-add {
  border-left: 3px solid rgba(228, 228, 228, 1);
  width: 100px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: black;
}

.goods-add-img {
  width: 40px;
  height: 40px;
  background: url(../images/goodsImg/goodsAddOne.png) no-repeat 100% 100%;
  margin: 0 auto;
}

.goods-add-text {
  text-align: center;
}

/* 添加产品分类 hover 事件 */
.goods-add:hover {
  color: #4890f7;

  .goods-add-img {
    width: 40px;
    height: 40px;
    background: url(../images/goodsImg/goodsAddTwo.png) no-repeat 100% 100%;
    margin: 0 auto;
  }
}

 /* 添加分类 */
 .inStockBox {
  .el-input__inner {
    border: none;
    border-bottom: 3px solid #000;
  }

  .el-input__inner::-webkit-input-placeholder {
    color: #aab2bd;
    font-size: 18px;
  }
}

// 列表样式

.orderC-tb {
  margin-bottom: 12px;
  line-height: 1.8;
  box-shadow: 0 0 5px 2px #ccc;
  border-radius: 15px;
  overflow: hidden;
}

.orderC-tb,
.orderC-tb a {
  color: #3e3e3e;
}

.orderC-tb a:hover {
  color: #000;
}

.orderC-th {
  background: #becbf7;
  color: #fff;
  border-radius: 15px;
}

.orderC-tb th {
  padding: 6px 8px;
  text-align: center;
  font-weight: normal;
}

.table-tbody {
  /* background: #f5f7f8; */
  /* box-shadow: 0 0 5px 2px #ccc; */
}

.table-tbody > tr:nth-child(2n) {
  background: #f9f9f9;
}

.orderC-tb td {
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
}

.orderC-tb th.text-left,
.orderC-tb td.text-left {
  text-align: left;
}

.orderC-tb th.text-right,
.orderC-tb td.text-right {
  text-align: right;
}

.orderC-tb-border {
  border: 1px solid #cccccc;
}

.orderC-tb-border td {
  border: 1px solid #dddddd;
  border-top: 0;
  padding: 0;
}

.orderC-tb .check_td {
  padding: 0 0 0 10px;
  text-align: left;
}

.order-gw {
  padding: 15px 8px;
}

.order-gw .order-img {
  width: 60px;
  height: 60px;
  border: 1px solid #cccccc;
  margin: 0 auto;
}

.order-gw .order-img img {
  width: 100%;
  height: 100%;
}

.order-gw .order-sum {
  margin-left: 80px;
}

.order-gw .order-sum h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.order-gw .order-sum p {
  line-height: 1.2;
}

.orderC-tb .paymonney {
  border-bottom: 1px solid #f5f5f5;
}

.orderC-tb .paymonney,
.orderC-tb .payway,
.orderC-tb .payStatue-tb,
.orderC-tb .time {
  color: #c6c6c6;
}

.orderC-tb .timeA {
  padding-right: 40px;
}

.distpicker-address-wrapper {
  select {
    padding: 0px 10px !important;
    height: 30px !important;
    font-size: 15px !important;
    line-height: 30px !important;
  }
}

.loadingStyle {
  z-index: 9999999;
}

.radioClass .el-radio__label {
  padding-left: 5px !important;
}

.radioClass .el-radio {
  margin-right: 5px !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.a-link {
  color: blue;
  border-bottom: 1px solid blue
}

